 *{ margin:0; padding:0;}
 img,a{border:none; text-decoration:none;}
 ul,ol,li{list-style:none;}
 a{ color:#333;}
 a:hover{ color:#f00;}
.clear{ clear: both;}
 body{ color:#333; font-size:12px; font-family:"宋体"; line-height:22px;background: url(../images/bg.png) repeat-x  #eee;}
.box{ width:1003px; margin:0 auto;}
.top{width:1003px; margin:0 auto;}

.top1{ width:1003px; height:108px; background:url(../images/top.jpg) no-repeat; overflow:hidden;}
.top22{ width:265px; float:right;padding-right:30px;}
.sousuo{ width:265px;clear:both; padding-top:39px; height:25px;}
.sousuo2{ float:right; width:98px; overflow: hidden;}
.sousuo1{ float:left; width:160px;}
.sousuo1 input{ height:25px; float:left; line-height:25px; font-size:12px; color:#FFFFFF; width:160px; float:left; border:none; background:none; }
.top2{ width:230px;color:#fff; line-height:30px; padding-left:35px;}
.yuding{ float:left; width:130px;}
.yuding a{color:#fff; line-height:30px;}
.yuding a:hover{color:#fff; line-height:30px; text-decoration:underline;}
.gouwu{float:right; width:95px; text-align:center;}
.gouwu a{ color:#fff;}
.gouwu a:hover{ color:#fff;}


.dh{ width:1003px; height:44px;}
.dh ul li{ text-align:center; width:100px; float:left;height:44px; line-height:44px; color:#fff; font-size:14px; font-weight:bold; background: url(../images/dhbg.jpg) right no-repeat;}
.dh ul li a{ display:block;height:44px; line-height:44px; color:#fff; font-size:14px; font-weight:bold;width:100px; }
.dh ul li a:hover{ color:#fff; background: url(../images/dhbg2.jpg) repeat-x;}

.foot{ width:100%; height:130px; background:url(../images/foot.jpg) repeat-x;}
.foot1{ width:1003px; margin:0 auto;}
.foot11{ float: left;}
.footdh{ float:right;}
.footdh ul li{ float:left; width:95px; height:39px; line-height:39px; text-align: center; color:#fff; font-size:14px; background:url(../images/footdhbg.jpg) no-repeat; font-family:"Microsoft Yahei Font ";}
.footdh ul li a{  font-family:"Microsoft Yahei Font ";color:#fff; font-size:14px; font-weight:bold; display:block; width:95px; height:39px;}
.footdh ul li a:hover{ color:#fff; background:url(../images/footdhbg1.jpg);}

.zhong{ width:1003px; clear:both; background:url(../images/rigthbg.jpg) right repeat-y #fff; padding-bottom:10px;}

.fenlei{ width:235px; float:left; padding-top:20px; padding-bottom:20px;}
.fenleititle{ width:180px;color:#648712; font-size:14px; margin:0 auto;padding:10px 10px 0px 20px; background:url(../images/fenleibg.jpg) no-repeat; height:80px;}
.fenleititle h1{font-size:16px; font-weight: bold; color:#648712;}

.fenleinei{ width:150px; margin:0 auto;}
.fenleinei ul li{ width:150px; line-height:30px; color:#505050; }
.fenleinei ul li a{ display:block; background:url(../images/fenlei2.jpg); width:130px; height:30px; padding-left:20px; line-height:30px; color:#505050;}
.fenleinei ul li a:hover{line-height:30px; color:#fff; background:url(../images/fenlei1.jpg) no-repeat;}
.fenleinei ul li ul li{ width:150px; line-height:25px; color:#505050;}
.fenleinei ul li ul li a{ line-height:25px; height:25px; color:#505050; background:none; border-bottom:1px #eee solid;}
.fenleinei ul li ul li a:hover{ line-height:25px; color:#648712;}

.ymright{ float:right; width:768px; padding-top:20px;}
.righttitle{ width:740px; margin:0 auto; clear:both; text-indent:40px; height:46px; margin-bottom:15px;_margin-bottom:8px; line-height:35px; font-size:16px; font-weight:bold; color:#fff; background:url(../images/righttitlebg.jpg) no-repeat; }
.rightnei{ width:740px; margin:0 auto; }

.pro{ width:740px; margin: 0 auto;}
.pro ul li{ width:175px; float:left; height:185px; margin:4px; _margin:2px; border:1px #648712 solid;}
.tu{ width:175px; height:155px;}
.tu img{ width:175px; height:155px;}
.prozi{width:165px; display:block; height:30px; line-height:30px; color:#505050; padding-left:5px; padding-right:5px; display:block;}
.prozi span{float:right;line-height:30px;}
.prozi a{ display:block; float:left;fline-height:30px; color:#505050;}
.prozi a:hover{line-height:30px; color:#648712;}

/* ============翻页============== */

.showpages {padding-top:10px;width:740px;height:30px;margin-top:10px;_margin-top:5px; background:url(../images/fenge.jpg) repeat-x top;}
.pagesinfo {float:left;padding:3px 8px;}
.pages {float:right;padding-right:8px;}
.pages ul{margin:0;padding:0;}
.pages a{color:#303030;text-decoration: none;}
.pages a:hover{color:#ff0000;text-decoration: none;}
.pages li{margin:3px;padding:2px 5px;list-style-type: none;float:left;background:#dcd9d4;color:#303030;border:1px #dcd9d4 solid;white-space: nowrap;}
.pages li.pagesnow{color:#303030;background-color:#eee;white-space: nowrap;border:1px #dcd9d4 solid;}
.pages li.pbutton{color:#303030;background-color:#dcd9d4;padding:3px 5px 1px 5px;white-space: nowrap;border:1px #dcd9d4 solid;}
.pages li.opt{color:#303030;padding:0px;white-space: nowrap;border:0px;background:#fff;}