/*reset*/

cursor body {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

h1 {
    font-family: 'Microsoft YaHei';
}

ul,
ol,
li {
    list-style-type: none;
}

.sidebar-menu {
    font-size: 16px;
    font-weight: bold;
}

.treeview-menu {
    font-size: 12px;
    font-weight: normal;
}

.skin-blue .treeview-menu>li.active>a,
.skin-blue .treeview-menu>li>a:hover {
    color: #f4f4f4;
}


/**index**/

.index-detail {
    margin-left: 30px;
    margin-top: 15px;
    overflow: hidden;
}

.index-detail>div {
    overflow: hidden;
}

.detail-head {
    margin-bottom: 45px;
    overflow: hidden;
}

.detail-head>.head-info {
    margin-left: 240px;
}

.detail-head>.head-info>h2 {
    font-weight: bold;
}

.list-head {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-head>.list-head-item {
    padding: 5px 0;
    font-size: 12px;
}

.list-head>.list-head-item>label {
    margin: 0;
}

.index-function {
    margin-bottom: 40px;
}

.list-modular {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.list-modular>.list-modular-item {
    float: left;
}

.list-modular>.list-modular-item>a {
    overflow: hidden;
}


/**statistics***/

.heading {
    border-bottom: 2px solid #3C8DBC;
}

.bg-aqua {
    display: inline-block;
    width: 10%;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    background-color: #00a5ce!important;
}

.table>tbody>tr>td {
    vertical-align: middle;
    border-bottom: 2px dotted #FFF;
    border-top: 0;
    line-height: 26px;
    padding: 0;
}

.table>tbody>tr.mian:first-child {
    background: #fff;
}

.table>tbody>tr>td>a.td-text-lg {
    font-size: 20px
}

.table td:nth-child(1) {
    text-align: left;
}

.chart {
    text-align: center;
}

h4>span {
    color: #00a5ce
}

.fold {
    width: 100%;
    max-width: 100%;
}

.fold>tbody>tr>td {
    padding: 9px;
    vertical-align: middle;
    border-bottom: 2px dotted #FFF;
}

.fold .fold td:nth-child(1) {
    padding-left: 40px;
}


/**my-project***/

.head_text {
    display: inline-block;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border-left: 10px solid #00a5ce;
}

.row .heading {
    margin-bottom: 20px;
    z-index: 4;
}

.heading>a {
    display: inline-block;
    font-size: 14px;
    padding: 6px 10px 7px;
    background: #00a5ce;
    color: #fff;
}

.heading>.dropdown {
    display: inline-block;
    position: relative;
    width: 12%;
    font-size: 14px;
    padding: 6px;
    text-align: center;
}

.dropdown>.category-eject {
    display: none;
    position: absolute;
    right: 0;
    width: 900px;
    height: auto;
    padding: 15px 15px 15px 0;
    background: #fff;
    z-index: 100000000;
}

.dropdown>.category-w-roll {
    top: 36px;
    display: block
}

.heading>.dropdown>a {
    color: #424242;
}

.form-horizontal {
    font-size: 12px;
    overflow: hidden;
}

.form-group>[class*=col-] {
    padding-left: 0;
}

.category-eject .btn {
    padding: 6px 33px;
    font-size: 12px;
}

.edit_btn {
    display: none;
}

.state_pj {
    margin-right: 20px;
}

.chk_group {
    text-align: left;
}

.chk_group>label {
    font-weight: normal;
}

.chk_group>label {
    margin-right: 20px;
}

.fold>tbody>tr.info>td {
    font-weight: bold;
}

.fold>tbody>tr>td>a.project_title {
    color: #333;
    font-size: 14px;
    line-height: 26px;
}

.fold>tbody>tr.fished>td,
.fold>tbody>tr.fished>td>a.project_title {
    color: grey;
}

.tb_page {
    margin-top: 30px;
    overflow: hidden;
}

.pagination>li>a {
    margin: 0 5px;
}

.pagination>li.ellipsis>a {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 6px 0;
}

.page_seacher {
    width: 45px;
    height: 34px;
}

.popup-body {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

.form-control {
    font-size: 12px;
    padding: 6px 10px;
}

.form-control-feedback {
    right: 8px;
}

.select-result {
    float: left;
}

.select-result ul li {
    float: left
}

.select-result ul li a {
    height: 30px;
    padding: 0 24px 0 10px;
    line-height: 30px;
    display: block;
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    color: #fff;
    font-size: 14px;
    background: url(../img/close1.png) 90% center no-repeat #7ecbc8;
}

#preview {
    padding-top: 7px;
}


/**project_detail**/

.project_detail {
    width: 90%;
    margin: 0 auto;
}

.detial_title {
    text-align: center;
    overflow: hidden;
}

.detial_title .btn {
    margin-top: 10px
}

.title_lg {
    font-size: 40px;
    font-weight: bold
}

.detial_sm {
    width: 32%;
    margin: 15px auto;
    text-align: right;
}

.title_sm {
    margin-right: 30px
}

.project_content {
    margin-top: 20px;
}

.project_content td:nth-child(odd) {
    font-weight: bold;
    text-align: right;
}

.project_content td:nth-child(even) {
    text-align: left;
}

.project_content>tbody>tr>td {
    border: 0;
    padding: 8px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block
}

.rating span.star:before {
    content: "\2605";
    padding-right: 2px;
}

.project_task,
.project_change {
    margin-top: 40px;
    margin-left: 50px;
}

.btn_show {
    padding: 10px 42px;
    font-size: 16px;
}

.timeline>li>.timeline-item .time {
    padding: 10px;
    margin-right: 5px;
}

.timeline>li>.fa,
.timeline>li>.glyphicon,
.timeline>li>.ion {
    border: 2px solid #d2d6de;
    line-height: 26px;
}


/**approval**/

.nav-tabs-custom>.nav-tabs>li>a,
.nav-tabs-custom>.nav-tabs>li:hover>a {
    font-weight: bold;
}

.nav-tabs-custom>.nav-tabs>li>a:hover {
    color: #444;
}

.tab-pane>.table>tbody>tr>td {
    border-bottom: 2px dotted #f4f4f4;
}

.tab-pane label {
    font-weight: normal;
    margin: 0;
}

.td_opera {
    margin-right: 10px;
}

.batch_operation {
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
}

.batch_operation a {
    display: inline-block;
    padding: 5px 10px;
    background: grey;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.batch_operation a.opera_select {
    padding: 0;
}

.batch_operation a.opera_select>label {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0;
}

.popup-body>.other {
    margin: 15px 0 30px;
}

.popup-body>.other .other_box {
    width: 70%;
    display: inline-block;
    margin-right: 15px;
}

.popup-body>.other a {
    color: #444;
    cursor: pointer;
}


/**my-reimburse.html**/

#msform {
    margin: 10px auto;
    text-align: center;
    position: relative;
    background: transparent;
    min-height: 1000px;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    padding: 0;
}

#progressbar li {
    list-style-type: none;
    color: #444;
    text-transform: uppercase;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    color: #333;
    background: white;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 91%;
    height: 5px;
    background: #fff;
    position: absolute;
    left: -45%;
    top: 19px;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
    margin-right: 45%;
}

#msform fieldset {
    border: 0 none;
    border-radius: 3px;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: absolute;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-group {
    overflow: hidden;
}

#msform fieldset .form-group>.control-label {
    text-align: right;
}

#msform fieldset .travel_reason {
    display: none;
}

.rule_re {
    position: absolute;
    top: 15px;
    right: 9%;
    height: 300px;
    width: 300px;
}

.tooltip {
    font-size: 12px;
}

#msform fieldset .next,
#msform fieldset .previous,
#msform fieldset .submit {
    width: 100px;
    font-weight: bold;
    border: 0 none;
    border-radius: 1px;
    padding: 10px 5px;
    margin: 25px 5px 10px;
}

.expense_reimburse td,
.travelling_expenses td {
    position: relative;
}

.expense_reimburse td>.form-control-feedback,
.travelling_expenses td>.form-control-feedback {
    top: 10px;
}

.expense_reimburse td>.form-jpy,
.travelling_expenses td>.form-jpy {
    right: 0;
    left: 8px;
}

.expense_reimburse td>.control-jpy,
.travelling_expenses td>.control-jpy {
    padding: 6px 25px;
}

.travelling_expenses {
    display: none;
}

.input-daterange .input-group-addon,
.input-group .input-group-addon {
    border: 0;
    background: transparent;
}

.input-daterange input {
    text-align: left;
}

.travelling_expenses td>.form-control-feedback,
.content-header .form-control-feedback {
    z-index: 10;
}

.travelling_expenses td>.form-fa-start {
    left: 108px;
}

.travelling_expenses td>.form-fa-end {
    right: 26px;
}

.fund-confirm .heading {
    text-align: left;
}

.fund-base-content>.row {
    padding: 8px;
}

.fund-base-content [class*=col-]:nth-child(odd) {
    font-weight: bold;
    text-align: right;
}

.fund-base-content [class*=col-]:nth-child(even) {
    text-align: left;
}

.bank {
    position: relative;
    display: none;
}

.fund-allPrj,
.fund-other,
.fund_change {
    margin-top: 40px;
}


/**detail**/

#schedule {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
}

#schedule li {
    list-style-type: none;
    color: #00A5CE;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 25%;
    float: left;
    position: relative;
}

#schedule li:nth-child(3),
#schedule li:nth-child(4) {
    color: grey;
}

#schedule li:nth-child(6) {
    color: #FF6600;
}

#schedule li>i.fa {
    vertical-align: -2px;
    position: relative;
    top: 2px;
}

#schedule li>span {
    color: #444;
    font-weight: bold;
}

#schedule li:nth-child(3)>span,
#schedule li:nth-child(4)>span {
    color: grey;
}

#schedule li:nth-child(6)>span {
    color: #FF6600;
}

#schedule li:after {
    content: '';
    width: 70%;
    height: 5px;
    background: #00A5CE;
    position: absolute;
    left: -70%;
    top: 19px;
}

#schedule li:nth-child(3):after,
#schedule li:nth-child(4):after {
    background: grey;
}

#schedule li:nth-child(5):after {
    background: transparent;
}

#schedule li:nth-child(6):after {
    background: #FF6600;
}

#schedule li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

.form-group {
    overflow: hidden;
}


/**statistics**/

.content-header .form-fa-start {
    left: 135px;
}

.content-header .form-fa-end {
    left: 310px;
}


/***time**/

#schedule li.time-thirth,
#schedule li.time-fourth {
    color: #00A5CE;
}

#schedule li.time-thirth>span,
#schedule li.time-fourth>span {
    color: #444;
}

#schedule li.time-thirth:after,
#schedule li.time-fourth:after {
    background: #00A5CE;
}

#schedule li.time-sixth:after,
#schedule li.time-seventh:after {
    background: transparent;
}

#schedule li:nth-child(8):after {
    background: #FF6600;
}

#schedule li:nth-child(8) {
    color: #FF6600;
}

#schedule li:nth-child(8)>span {
    color: #FF6600;
}

#table_write .form-group {
    margin: 0;
}


/**system**/

.heading-nb {
    border: 0;
}

.heading-nb input[type="text"] {
    padding: 6px 25px;
}

.form-group>[class*=col-]:nth-child(odd) {
    text-align: right;
}

.set-author {
    list-style: none;
    margin-bottom: 20px;
}

.set-author>li {
    padding: 3px 0;
}

.dimission {
    display: none;
}


/**mima**/

.hide {
    display: none;
}

.show {
    display: block;
}

.control-success {
    color: #00acd6;
}

.control-error {
    color: red;
}


/**login**/

.login-head {
    width: 100%;
    height: 131px;
    background: url(../img/灰底.png) no-repeat;
    background-size: cover;
}

.login-logo {
    width: 15.6%;
    padding: 0 1.21% 0 2.52%;
    border-right: 1px solid #D8D9DD;
    line-height: 90px;
    margin: 20px  0;
}

.login-logo>span {
    color: #004f9a;
    font-size: 34px;
    font-family: 'FZZDXK';
}

.login-title {
    height: 100%;
    padding: 40px 0 0 23px;
    font-family: 'FZZZHUNHJW';
}

.login-title .title-zh {
    color: #1c56ae;
    font-size: 16px;
}

.login-title .title-en {
    color: #323232;
    font-size: 13px;
}

.login-body {
    width: 100%;
    
 
    position: relative;
}

.body-text {
    position: absolute;
    left: 16.97%;
    top: 19.7%;
    font-family: 'FZZZHUNHJW';
    z-index: 99;
}

.body-text .body-title {
    font-size: 16px;
    color: #909090;
    margin-bottom: 36px;
}

.body-text .body-descript {
    font-size: 40px;
    color: #151515;
}

.body-back {
    position: absolute;
    left: 24.96%;
    top: 17.75%;
    width:28.21%;
}

.body-form {
    position: absolute;
    top: 15.12%;
    right: 17.97%;
    width: 22.86%;
    height: 52.81%;
    background: url(../img/登陆背景.png) no-repeat;
    background-size: contain;
}

.log-form {
    width: 87.59%;
    height: 80.76%;
    margin: 16.7% auto 0;
    font-family: 'SimHei';
}

.log-form .cell {
    position: relative;
    height: 15.97%;
    margin-bottom: 4.81%;
    zoom: 1;
}

.log-form .cell label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 8.33%;
    font-size: 17px;
    color: #a2a3a7;
    font-weight: normal;
    cursor: text;
    margin: 0;
}

.log-form .cell input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 11px;
    font-size: 17px;
    background: none;
}

.text {
    height: 100%;
    font-weight: normal;
    color: #333;
    border: 1px solid;
    border-color: #cececf;
    border-radius: 0;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}

.text:focus {
    outline: none;
    border-color: #92AFED;
    box-shadow: 0 0 5px #92AFEC, inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.log-form .cell .text:focus+label {
    top: -20px;
    left: 0;
    color: #414141;
    font-size: 14px;
}

.remember {
    color: #a2a3a7;
    font-size: 15px;
}

.form-bottom {
    margin-top: -2.62%;
}

.form-bottom .btn {
    width: 35.43%;
    height: 13.35%;
    font-family: 'SimHei';
    font-size: 20px;
    color: #fff;
    background-color: #7BA9E4;
    border-color: #7BA9E4;
}


/**results page**/

.results-page {
    position: relative;
    overflow: hidden;
    height: 770px;
}

.results-img {
    position: absolute;
    top: 298px;
    left: 445px;
    overflow: hidden;
}

.results-text {
    position: absolute;
    left: 733px;
    top: 410px;
    overflow: hidden;
    font-family: '华康娃娃体W5';
    color: #5f5e5e;
}

.success-img {
    left: 540px;
}

.results-success {
    top: 440px;
    left: 797px;
}